body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background: url('../image/fundo10.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

.game-container {
    text-align: center;
    background: rgba(255, 255, 255, 0.1); /*ajuste da opacidade*/
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 80%;
}

h1 {
    color: #8600d4bb;
    font-size: 2.5em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px #aaa;
}

#instruction {
    font-size: 1.5em;
    color: #4682b4;
    margin-bottom: 20px;
}

.letters-container, .images-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.letters-container {
    justify-content: space-around;
}

.letter, .image {
    padding: 20px;
    background: rgba(100, 100, 255, 0.5); /*ajuste da opacidade*/
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.letter:hover, .image:hover {
    background: rgba(200, 100, 255, 0.5); /*ajuste da opacidade*/
    transform: scale(1.1);
}

.image {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px; /* Padronizar o tamanho da imagem */
}

.image img {
    width: 100%;
    height: 250px;
    object-fit: contain;
    margin-bottom: 5px;
}

#feedback {
    margin-top: 20px;
    font-size: 1.5em;
    color: #32cd32;
    text-shadow: 1px 1px 2px #aaa;
}

#score {
    margin-top: 20px;
    font-size: 1.5em;
    color: #4682b4;
    text-shadow: 1px 1px 2px #aaa; 
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: #fff;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.popup-content h2 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #FF6347;
    text-shadow: 2px 2px 4px #aaa;
}

.popup-content button {
    padding: 15px 30px;
    margin: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 1.2em;
}

.popup-content button:hover {
    background-color: #45a049;
    transform: scale(1.1);
}

.hidden {
    display: none;
}

.locked {
    background-color: #808080 !important;
    pointer-events: none;
}

#content {
    display: flex;
    flex-grow: 1;
}

#menu {
    width: 200px;
    background: url('../image/fundo10.jpg') no-repeat center center fixed;
    background-size: cover;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu-button {
    width: 260px;
    height: 90px;
    margin: 10px 0;
    opacity: 2;
    padding: 16px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background-color: #a647ff;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease;
    font-family: "DynaPuff", system-ui;
}

.menu-button:hover {
    transform: scale(1.1);
}