body {
    font-family: "DynaPuff", system-ui;
    background: url('../image/fundo10.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

/*site responsivo*/
.body {
    display: flex;
    width:100%;
    justify-content: space-around;
  }
  @media screen and (max-width: 768px){
      .body{
          width:100%;
          flex-direction: column;
          background: url('../image/fundo10.jpg')no-repeat center center fixed;
          background-size: cover;
               }
  }


#content {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    margin-top: 10px;
}

#instruction {
    font-size: 1.4em;
    color: #7a3005;
    margin-bottom: 25px;
    text-align:center;
    text-shadow: 2px 2px 6px #f3f3f3ec;
    text-align:center;
    margin: 85px -730px 1px;
}


.container {
    background: rgba(255, 255, 255, 0.85);
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    width: 60%;
    max-width: 800px;
    text-align: center;
}

h1 {
    color:#FF4500;
    margin-bottom: 20px;
    text-shadow: 1px 2px 7px #f3f3f3ec;
    margin: 19px 150px 10px;
}


header {
    display: flex;
    text-align: center;
    margin: 6px 170px 10px;
    font-size: 1.2em;
    margin-bottom:30px;
}

.game-area {
    text-align: center;
    background: rgba(255, 255, 255, 0.1); /*ajuste da opacidade*/
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 60%;
}


#fence {
    border: 5px solid #8B4513;
    height: 600px;
    width: 750px;
    position: relative;
    margin: 10px auto;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-self: center;
    background: url('../image/galinhas/back.png') center center ;
}

.chicken {
    font-size: 50px; /* Ajuste o tamanho do emoji aqui */
    margin: 5px;
    margin-bottom: -50px;
    margin-top: 460px;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.card {
    background-color: #87CEFA;
    border: 2px solid #4682B4;
    border-radius: 10px;
    width: 60px;
    height: 60px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    flex-direction: row;
}

.card:hover {
    background-color: #00BFFF;
    transform: scale(1.1);
}

.feedback {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #FF6347;
    text-align: center;
    min-height: 30px; /* Mantém um espaço fixo mesmo sem texto */
}


#menu {
    width: 200px;
    background: url('../image/fundo10.jpg') no-repeat center center fixed;
    background-size: cover;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu-button {
    width: 240px;
    height: 100px;
    margin: 10px 0;
    position: relative;
    top: -50px;
    opacity: 2;
    padding: 16px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background-color: #FF4500;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease;
    font-family: "DynaPuff", system-ui;
}

.menu-button:hover {
    transform: scale(1.1);
    background-color:#BA55D3;

}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 999;
}

.popup-content {
    background: #FFF;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
}

.popup-content h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #FF6347;
}

.popup-content button {
    background: #4CAF50;
    border: none;
    color: white;
    padding: 15px 30px;
    font-size: 1.2em;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s, transform 0.3s;
}

.popup-content button:hover {
    background-color: #45a049;
    transform: scale(1.1);
}

.hidden {
    display: none;
}

#score {
    margin-top: 5px;
    font-size: 1.5em;
    color: #156eb8;
    text-shadow: 1px 1px 2px #aaa;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
}

#correct-count{
    padding-right: 25px;
    padding-top: 0;
    margin-top: 2px;
}

#error-count{
    padding-right: 25px;
    padding-top: 0;
    margin-top: 2px;
}