
body {
    display:flex;
    align-items:flex-end;
    justify-content: center;
    min-height: 120vh;
    background:url(../image/login/fundo12.jpg) no-repeat;
    background-size:cover;
    background-position: center;
    font-family:"DynaPuff", system-ui
    
}

.container {
   width: 500px;
   background: transparent;
   border:solid 2px rgba(225, 255, 255, .2);
   backdrop-filter: blur(10px);
   box-shadow: 10 10 15px  #0000003e;
   color: #8600d4bb;
   border-radius: 10px;
   padding: 20px 20px;
   margin-bottom: 250px;
}

.container h1 {
   font-size: 45px;
   text-align: center;
}

.container .caixa-input {
   position:relative;
   width: 85%;
   height: 15px;
   margin: 60px 0;
}

.caixa-input input {
   width: 100%;
   height: 100% ;
   background: transparent;
   border:solid 3px rgba(225, 255, 255, .2);   
   border-radius: 40px;
   outline: none;

   font-size: 16px;
   color:#fff;
   padding: 20px 45px 20px 20px;
}

.caixa-input input::placeholder {
   color:#8600d4bb;
   font-size: 16px;
   
}

.caixa-input i {
   position: absolute;
   right: 1px;
   top: 50%;
   transform: translateY(-10%);
   font-size: 20px;
}

.container .caixa-relembre {
   display:flex;
   justify-content:space-between;
   font-size: 18px;
   font-family:"DynaPuff", system-ui;
   color:rgb(255, 255, 255);
}

.caixa-relembre label input {
   accent-color: #fff5f5;
   margin-right: 8px;

}

a {
   text-decoration: none;
   color:  #ffffff;
}
a:hover {
   text-decoration: underline;
   color:rgb(8, 5, 139);
}

.container .botao {
   width: 100%;
   height: 40px;
   background: #272727;
   border: none;
   outline: none;
   border-radius: 40px;
   box-shadow: 0 0 10px #0000003e;
   cursor: pointer;
   font-size: 20px;
   color: #ffffff;
   font-weight: 490;
}
.botao:hover {
   background-color: #8600d4bb;
   color: white;
}
.container .caixa-registre {
   font-size: 18px;
   text-align: center;
   margin: 20px 0 15px;
}

.caixa-registre p a {
   font-weight: 500;
}