body {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  background: url('../image/fundo10.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
}

.game-container {
  text-align: center;
  background: rgba(255, 255, 255, 0.1); /*ajuste da opacidade*/
  width: 1000px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

h1 {
  color: #ff6347;
  font-size: 2.5em;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px #aaa;
}

#instruction {
  font-size: 1.5em;
  color: #000000;
  margin-bottom: 20px;
}

header {
  display: flex;
  justify-content: space-around;
  font-size: 1.2em;
  width: 100%;
  max-width: 800px;
  padding: 20px;
  margin: 0 0 30px;
  border-radius: 5px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 15px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.card {
  aspect-ratio: 3/4;
  width: 100%;
  border-radius: 10px;
  position: relative;
  transition: all 400ms ease;
  transform-style: preserve-3d;
  background-color: #ccc;
}

.face {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  border: 2px solid #000000;
  border-radius: 10px;
  transition: all 400ms ease;
}

.front {
  transform: rotateY(180deg);
}

.back {
  background-image: url('../image/memoria/back.png');
  backface-visibility: hidden;
}

.reveal-card {
  transform: rotateY(180deg);
}

.disabled-card {
  filter: saturate(0);
  opacity: 0.5;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: #fff;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.popup-content h2 {
  margin-bottom: 20px;
  font-size: 2em;
  color: #ff6347;
  text-shadow: 2px 2px 4px #aaa;
}

.popup-content button {
  padding: 15px 30px;
  margin: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-size: 1.2em;
}

.popup-content button:hover {
  background-color: #45a049;
  transform: scale(1.1);
}

.hidden {
  display: none;
}

#content {
  display: flex;
  flex-grow: 1;
}

#menu {
  width: 200px;
  background: url('../image/fundo10.jpg') no-repeat center center fixed;
  background-size: cover;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu-button {
  width: 200px;
  height: 80px;
  margin: 10px 0;
  opacity: 2;
  padding: 15px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  background-color: #FF6347;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.menu-button:hover {
  transform: scale(1.1);
}