body {
    font-family: "DynaPuff", system-ui;
    background: url('../image/select/fundo13.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 10;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}   

#header {
    background: url('../image/select/fundo13.jpg') no-repeat 300px;
    background: size cover;
    padding: 10px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items:first baseline;
}
#user-info{
    color: rgb(0, 0, 0);
    top: 40;
    position: relative; 
    left: 900px;
    font-size: 20px;
    color:	#9932CC;
}

#content {
    display: flex;
    flex-grow: 5;
    justify-content: center;

}

#display {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../image/select/fundo13.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 10px auto;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(255, 83, 4, 0.966);
}

#menu {
    width: 250px;
    height: 80%;

    background-size: cover;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.menu-button {
    width: 260px;
    height: 90px;
    margin: 10px 0;
    opacity: 2;
    padding: 16px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background-color: #FF4500;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease;
    font-family: "DynaPuff", system-ui;
}

.menu-button:hover {
    transform: scale(1.1);
    background-color: #9932CC;
}

#display-image {
    max-width: 98%;
    max-height: 98%;
    transition: opacity 0.5s ease;
}