<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CADASTRAR USUÁRIO</title>
    <link rel="stylesheet" href="../static/css/administrador.css">
</head>
<body>

    {% set mensagem = get_flashed_messages() %}
    {% if mensagem %}
        <div class="flash_alerta">
            {{ mensagem[0] }}
        </div>
    {% endif %}

    <h1 class="titulo">Administrador</h1>

    <div id="paginacadastro">

        <div class="form_fundo">
            <h1>CADASTRAR USUÁRIO</h1>
            <div class="form_frente">
                <form action="/cadastrarUsuario" method="post">
                    <label for="nome">NOME</label>
                    <input type="text" name="nome" id="nome" required placeholder="Digite o nome"><br><br>

                    <label for="email">EMAIL</label>
                    <input type="email" name="email" id="email" required placeholder="Digite o email"><br><br>

                    <label for="senha">SENHA</label>
                    <input type="password" name="senha" id="senha" required placeholder="Digite a senha"><br><br>

                    <label for="tipo">TIPO</label>
                    <select name="tipo" id="tipo" required>
                        <option value="usuario">Usuário</option>
                        <option value="admin">Administrador</option>
                    </select><br><br>

                    <button type="submit" id="btn_login">
                        <span></span><span></span><span></span><span></span>
                        CADASTRAR
                    </button>
                </form>
            </div>
        </div>

        <div class="form_fundo listaUsuarios">
            <h1>USUÁRIOS CADASTRADOS</h1>
            <div class="form_frente listaUsuarios">
                {% if usuarios %}
                    {% for usuario in usuarios %}
                        <form action="/excluirUsuario" method="post">
                            <ul>
                                <input type="hidden" name="usuario_id" value="{{ usuario.id }}">
                                <li><strong>Nome:</strong> {{ usuario.nome }}</li>
                                <li><strong>Email:</strong> {{ usuario.email }}</li>
                                <li><strong>Tipo:</strong> {{ usuario.tipo }}</li>
                            </ul>
                            <button type="submit">EXCLUIR</button>
                        </form>
                        <hr>
                    {% endfor %}
                {% else %}
                    <h2>Não existem usuários cadastrados</h2>
                {% endif %}
            </div>
        </div>

    </div>

</body>
</html>
