<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="widht=device-width, initial-scale=1.0">
    <title>Educação com Diversão</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');
    </style>
    <link rel="stylesheet" href="../static/css/login.css">
    <link rel="icon" href="../static/image/login/icon.png">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>
<body>

    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        <div class="flash_alerta">
            {{ mensagens[0] }}
        </div>
    {% endif %}
    
    <section class="container">
        <form action="{{ url_for('login') }}" method="POST" id="login_form">
            <h1>Login</h1>
             <div class="caixa-input">
                <input type="text"placeholder="Usuário / email" id="usuario" name="usuario" required>
                <i class='bx bx-user'></i>
            </div>
            <div class="caixa-input">
                 <input type="password" placeholder="Senha" id="password" name="password" required>
                 <i class='bx bx-lock-alt'></i>
                </div>
                <div class= "caixa-relembre">
                    <label><input type= "checkbox">Relembre-me</label>
                    <a href="#"> Esqueceu a senha?</a>
                    </div>
                    <br>
                    <button type="submit" class="botao">Entrar</button>
                <div class="caixa-registre">
                    <p> Não possui uma conta? <a href="/cadastro">Registre-se</a></p>
                </div>
    </form>
    </section>
</body>
</html>